body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: #b9d9eb;
}

div.body {
    width: 100%;
    height: 100%;
}

table {
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

tr {
    border: thin solid #cbc5c5;
    border-collapse: collapse;
}

tr.info {
    background-color: #f7f1a4;
}

tr.warning {
    background-color: #f7a4a4;
}

tr.config {
    background-color: #cccccc;
}